body {
  font-family: 'Antonio', sans-serif;
  /* background-image: linear-gradient(to right, #035533, #01ff63); */
  background-image: url(./images/back.jpg);
  background-blend-mode:hard-light;
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
  /* background-color:rgba(132, 179, 186, 0.2); */
  /* background-color: transparent; */
  margin: -8.5px;
  padding: 1.5em;
  height: 4em;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  
}
main {
  z-index: 20;
  margin-top: 25em;
}
.mainc{background-color:rgba(132, 179, 186, 0.58);
  margin-top: -10em;
  display: flex;
  justify-content: space-around;
  color: rgb(3, 3, 3);
  border-radius: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid black;
}
#trash{background-color:rgba(255, 251, 226,0.2);
  height: 80%;
  padding: 2px;
  color:#000000;
  margin: 15px;
  margin-top: 25px;
  font-size: xx-large;
  font-weight: 1000;
}
.we{height: fit-content;
  margin-top: 6em;
  /* background-color: rgba(22, 33, 62, 0.88); */
  padding: 40px;
  border-radius: 50px;
  display: flex;
  flex-direction:column;
  z-index: 0;
  color: #f4d14f;
}
.buysell {
  margin-top: 2em;
  margin-left: 7em;
  display: inline-flex;
  z-index: 1;
  opacity: 1 ;
}
#logo {
  margin-top: 0.5em;
  margin-left: 3em;
  justify-content:left;
}
header {
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 0.75vh;
  
}

header,
.nav,
.menu {
  display: flex;
  justify-content: right;
  align-items: top;
}

.nav {
  margin-right: 3em;
  margin-top: 1em;
  position: fixed;
  background-color: transparent;
  padding: 5px;
  transition: 0.5s;
  border-radius: 50px;
  height: 45px;
  overflow: hidden;
}
#name {
  margin-bottom: 2em;

  margin-left: -6em;
  /* justify-content: center; */
  
}
.menu {font-family: 'Antonio', sans-serif;
  margin: 0;
  margin-top: 0.3em;
  padding: 0;
  width: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  font-weight: 1000;
  font-size: x-large;
  /* background-color: #16213e; */
}

.nav input:checked ~ .menu {
  width: 450px;
}
.nav input:checked ~ .menu p a {
  color: #16213e;
  font-weight: bolder;
}

.menu p {
  margin: 0 10px;
  display: inline-flex;
}

.menu a {
  text-decoration: none;
  color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}
.nav input {
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 0;
}

.top, .middle, .bottom {
  margin-right: 20px;
  margin-top: 1.50em;
  position: absolute;
  left: 22px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #000000;
  pointer-events: none;
  transition: 0.5s;
}
.bottom {
  width:20px;
}
.nav:hover span {
  width: 30px;
}
.nav input:checked ~ span {
  background-color: #f974a1;
}
.nav input:checked ~ .bottom {
  background-color:transparent;
}
.nav span:nth-child(2) {
  transform: translateY(-8px);
}
.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}
.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
.bt{
  height: 80px;
  width: auto;
}
#sell{
  margin-right: 20px;
}
#wereform{
  opacity: 1;
  height: 120px;
}
div.register{
  width: fit-content;
  padding: 40px;
  /* background-color:rgba(22, 33, 62, 0.88); */
  font-size: 18px;
  border-radius: 50px;
  color: rgb(5, 5, 5);
}

input#name{
  width: 300px;
  border: 3px solid rgb(111, 103, 116);
  border-radius: 8px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  /* box-shadow: inset 1px 1px 5px; */
}

input#submit{
  text-transform:uppercase;
  width: 510px;
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgb(196, 255, 216);
  color: black;
  cursor: pointer;
  /* border: 1px solid black; */


}

.ftext{
  display: inline-flex;
  justify-content: space-around;
}
.ftext label{
  width: 190px;
  text-transform: uppercase;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-size: 18px;
  font-weight: 700;
  
}
#contactus{
  font-size: xxx-large;
  margin-top: 3em;
}

.navbarm{
  display: flex;
  /* background-color:rgba(132, 179, 186, 0.2); */
  /* background-color: transparent; */
  margin: -8.5px;
  padding: 1.5em;
  height: 4em;
  width: 100%;
  position: fixed;
}